@import "tailwindcss";

:root {
  --background:#191919;
  --foreground:#191919;
}

@theme {
  --text-12: 12px;
  --text-14: 14px;
  --text-16: 16px;
  --text-18: 18px;
  --text-24: 24px;
  --text-36: 36px;
  --text-48: 48px;
  --text-120: clamp(42px, 5vw, 120px);

  --spacing-72: 18rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --foreground: #191919;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.editable[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  color: #cdcdcd;
  pointer-events: none;
}

.editable[contenteditable="true"]:focus:empty:before {
  content: attr(placeholder);
  color: #cdcdcd;
  pointer-events: none;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translatex(-8px);
  }
  100% {
    opacity: 1;
    transform: translatex(0px);
  }
}
